@model IEnumerable<BL.DTO.Models.QueueMemberDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>All Queue members</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeInterval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAbsent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeInterval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAbsent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Queue.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
