@model IEnumerable<BL.DTO.Models.QueueMemberDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Consultation members</h1>

<p>
    
</p>

<form method="get">
    <div class="form-inline">
        <label style="margin-right:10px" class="control-label">Filter by Consultation: </label>
        @Html.DropDownList("ConsultationId", ViewData["ConsultationId"] as SelectList,
                    htmlAttributes: new { @class = "form-control" })

        <input style="margin-left:10px" type="submit" value="Filter" class="btn btn-outline-info" />
        <a style="margin-left:10px" class="btn btn-outline-secondary" asp-action="Index">Clear filters</a>
    </div>
</form>
<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeInterval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAbsent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeInterval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAbsent)
            </td>
            <td>
                @{
                    var content1 = String.Format("{0} {1} {2} {3}",
                                                item.Queue.Consultation.Lecturer.SecondName,
                                                item.Queue.Consultation.Subject.Name,
                                                item.Queue.Consultation.Date,
                                                item.Queue.IssueCategory.ToString());
                }
                @Html.DisplayFor(modelItem => content1)
            </td>
            <td>
                @{
                    var content2 = item.Student.FirstName + " " + item.Student.SecondName;
                }
                @Html.DisplayFor(modelItem => content2)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
